<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>添加图书 - 图书管理系统</title>

</head>
<body>
    <header class="publicHeader">
        <h1>图书管理系统</h1>
        <div class="publicHeaderR">
            <p>欢迎, {{ name }} 管理员！</p>
            <a href="/logout/">退出</a>
        </div>
    </header>
    <div class="container">
        <h2>添加图书</h2>
        <form action="{% url 'add_book' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">书名</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="price">价格</label>
                <input type="text" name="price" id="price" required>
            </div>
            <div class="form-group">
                <label for="inventory">库存</label>
                <input type="text" name="inventory" id="inventory" required>
            </div>
            <div class="form-group">
                <label for="sale_num">销售</label>
                <input type="text" name="sale_num" id="sale_num" required>
            </div>
            <div class="form-group">
                <label for="publisher_id">出版社ID</label>
                <input type="text" name="publisher_id" id="publisher_id" required>
            </div>
            <button type="submit">添加</button>
        </form>
    </div>
</body>
</html>
